# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# Data (tracked by DVC)
/data/raw/
/data/processed/

# MLflow
mlruns/
mlflow/

# Airflow
airflow/logs/
airflow/*.pid

# IDE
.vscode/
.idea/

# Misc
.env
.DS_Store